@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
        margin-top: 45px;
    /* Adjust spacing between columns */
}

.col {
    flex: 0 0 calc(33.33% - 20px);
    /* Adjust width for three columns */
    margin-bottom: 20px;
    /* Add some bottom margin for spacing */
    box-sizing: border-box;
    /* Ensure padding is included in the width */
}

.card {
    width: 100%;
}

@media (max-width: 991.98px) {
    .col {
        flex: 0 0 calc(50% - 20px);
        /* Two columns for medium screens */
    }
}

@media (max-width: 767.98px) {
    .col {
        flex: 0 0 100%;
        /* Full width for small screens (one column) */
    }
}


.reviews {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.no-reviews {
    text-align: center;
    margin-top: 10px;
}
.checked {
    color: orange;
}

.unchecked {
    color: grey;
}

